@import 'base';
html
{
    height: 100%;
}

header
{
    background-color: $white;
    border-radius: 5px;
    margin-top: 0%;

    #header-logo
    {
        float: left;
        margin-left: 2.5%;
        margin-top: 1px;
        height: 120px;
        width: auto;

        @media only screen and (max-width: 1200px)
        {
            height: 100px;
        }

        @media only screen and (max-width: 1000px)
        {
            height: 90px;
        }
    
        @media only screen and (max-width: 800px)
        {
            height: 75px;
        }
    
        @media only screen and (max-width: 600px)
        {
            float: none;
            height: auto;
            margin-left: 42.5%;
            margin-right: 42.5%;
            width: 15%;
        }
    }

    .title
    {
        display: inline-block;
        font-family: $title-font;
        font-size: 5em;
        margin-bottom: 0%;
        margin-left: 20%;
        margin-top: 0%;

        @media only screen and (max-width: 1300px)
        {
            font-size: 4em;
        }

        @media only screen and (max-width: 1100px)
        {
            font-size: 3em;
            margin-left: 10%;
        }
        
        @media only screen and (max-width: 800px)
        {
            font-size: 2em;
        }
        
        @media only screen and (max-width: 600px)
        {
            display: block;
            margin-left: 0%;
            text-align: center;
        }
        
    }

    .auth-link
    {
        background-color: $black;
        border-radius: 10px;
        color: $white;
        float: right;
        font-family: $tool-font;
        font-size: 2.5em;
        margin-right: 2.5%;
        margin-top: 15px;
        padding: 5px;
        text-decoration: none;

        &:hover
        {
            color: $red;
        }

        @media only screen and (max-width: 1300px)
        {
            font-size: 2em;
        }

        @media only screen and (max-width: 1100px)
        {
            font-size: 1.5em;
            margin-top: 5px;
        }
        
        @media only screen and (max-width: 800px)
        {
            font-size: 1.25em;
            padding: 1px;
        }
        
        @media only screen and (max-width: 600px)
        {
            background-color: transparent;
            color: $black;
            display: block;
            float: none;
            text-align: center;
            text-decoration: underline;
            width: 100%;
        }
    }

    .profile-link
    {
        border: $thin-border solid $black;
        border-radius: 50%;
        float: right;
        margin-right: 25px;
        margin-top: 5px;

        &:hover
        {
            border: $thin-border solid $red;
        }

        img
        {
            border-radius: 50%;
            height: 75px;
            padding: 2.5px;
            width: auto;

            @media only screen and (max-width: 1400px)
            {
                height: 70px;
                padding: 5px;
            }

            @media only screen and (max-width: 1350px)
            {
                height: 60px;
                padding: 2.5px;
            }

            @media only screen and (max-width: 1200px)
            {
                height: 40px;
                padding: 1px;
            }

            @media only screen and (max-width: 1200px)
            {
                height: 40px;
                padding: 1px;
            }

            @media only screen and (max-width: 900px)
            {
                height: 30px;
                padding: 1px;
            }

            @media only screen and (max-width: 850px)
            {
                height: 20px;
                padding: 1px;
            }

            @media only screen and (max-width: 600px)
            {
                height: 50px;
                padding: 5px;
            }

            @media only screen and (max-width: 400px)
            {
                height: 30px;
                padding: 2.5px;
            }
        }

        @media only screen and (max-width: 900px)
        {
            margin-right: 10px;
            margin-top: 10px;
        }

        @media only screen and (max-width: 850px)
        {
            margin-right: 10px;
            margin-top: 5px;
        }

        @media only screen and (max-width: 600px)
        {
            margin-top: -100px;
        }

        @media only screen and (max-width: 600px)
        {
            margin-top: -85px;
        }
    }
}

body
{
    background-color: $black;
}

// START COLORS
.violet
{
    color: $violet;
}

.violet-hover
{
    &:hover
    {
        @extend .violet;
    }
}

.violet-hover .checked
{
    @extend .violet;
}

.indigo
{
    color: $indigo;
}

.indigo-hover
{
    &:hover
    {
        @extend .indigo;
    }
}

.indigo-hover .checked
{
    @extend .indigo;
}

.blue
{
    color: $blue;
}

.blue-hover
{
    &:hover
    {
        @extend .blue;
    }
}

.blue-hover .checked
{
    @extend .blue;
}

.green
{
    color: $green;
}

.green-hover
{
    &:hover
    {
        @extend .green;
    }
}

.green-hover .checked
{
    @extend .green;
}

.yellow
{
    color: $yellow;
}

.yellow-hover
{
    &:hover
    {
        @extend .yellow;
    }
}

.yellow-hover .checked
{
    @extend .yellow;
}

.orange
{
    color: $orange;
}

.orange-hover
{
    &:hover
    {
        @extend .orange;
    }
}

.orange-hover .checked
{
    @extend .orange;
}

.red
{
    color: $red;
}

.red-hover
{
    &:hover
    {
        @extend .red;
    }
}

.red-hover .checked
{
    @extend .red;
}

.c-violet
{
    background-color: $c-violet;
}

.c-violet-hover
{
    &:hover
    {
        @extend .c-violet;
    }
}

.c-violet-hover .checked
{
    @extend .c-violet;
}

.c-indigo
{
    background-color: $c-indigo;
}

.c-indigo-hover
{
    &:hover
    {
        @extend .c-indigo;
    }
}

.c-indigo-hover .checked
{
    @extend .c-indigo;
}

.c-blue
{
    background-color: $c-blue;
}

.c-blue-hover
{
    &:hover
    {
        @extend .c-blue;
    }
}

.c-blue-hover .checked
{
    @extend .c-blue;
}

.c-green
{
    background-color: $c-green;
}

.c-green-hover
{
    &:hover
    {
        @extend .c-green;
    }
}

.c-green-hover .checked
{
    @extend .c-green;
}

.c-yellow
{
    background-color: $c-yellow;
}

.c-yellow-hover
{
    &:hover
    {
        @extend .c-yellow;
    }
}

.c-yellow-hover .checked
{
    @extend .c-yellow;
}

.c-orange
{
    background-color: $c-orange;
}

.c-orange-hover
{
    &:hover
    {
        @extend .c-orange;
    }
}

.c-orange-hover .checked
{
    @extend .c-orange;
}

.c-red
{
    background-color: $c-red;
}

.c-red-hover
{
    &:hover
    {
        @extend .c-red;
    }
}

.c-red-hover .checked
{
    @extend .c-red;
}

// END COLORS

footer
{
    background-color: $black;
    border-top: 5px solid $white;

    .social-container
    {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        width: 100%;

        a
        {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;

            img
            {
                height: 50px;
                width: auto;
            }
        }

        @media only screen and (max-width: 600px)
        {
            justify-content: space-evenly;
            padding-top: 2.5%;
        }
    }

    .copyright
    {
        color: $white;
        font-family: $body-font;
        text-align: center;
    }
}

.card
{
    border: $medium-border solid $light-grey;
    color: $white;
    margin-bottom: 2.5%;
    margin-left: 35%;
    margin-top: 2.5%;
    margin-right: 35%;
    text-align: center;
    width: 30%;

    .card-header
    {
        color: $white;
        font-family: $header-font;
        font-size: 3.25em;

        @media only screen and (max-width: 400px)
        {
            font-size: 2.25em;
        }

        @media only screen and (max-width: 300px)
        {
            font-size: 1.5em;
        }
    }

    .card-body
    {
        label
        {
            font-family: $tool-font;
            font-size: 2.25em;
            line-height: 175%;
    
            @media only screen and (max-width: 600px)
            {
                font-size: 2.5em;
            }
    
            @media only screen and (max-width: 300px)
            {
                font-size: 1.75em;
            }
        }
    
        input[type=email], input[type=password], input[type=text]
        {
            font-family: $body-font;
            font-size: 1.25em;
    
            @media only screen and (max-width: 600px)
            {
                font-size: 1.5em;
            }
    
            @media only screen and (max-width: 500px)
            {
                font-size: 1.25em;
            }
    
            @media only screen and (max-width: 400px)
            {
                font-size: 1em;
            }
    
            @media only screen and (max-width: 300px)
            {
                font-size: .75em;
            }
        }
    
        input[type=submit]
        {
            background-color: $black;
            color: $white;
            cursor: pointer;
            font-family: $tool-font;
            font-size: 2.5em;
            padding: 5px;
            width: 45%;
    
            &:hover
            {
                color: $red;
            }
    
            @media only screen and (max-width: 450px)
            {
                font-size: 2em;
                width: 60%;
            }
        }
    
        a
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.5em;
    
            &:hover
            {
                color: $dark-grey;
            }
    
            @media only screen and (max-width: 400px)
            {
                font-size: 1.25em;
            }
    
            @media only screen and (max-width: 300px)
            {
                font-size: 1em;
            }
        }
    
        p
        {
            font-family: $body-font;
            font-size: 1.25em;
            margin-left: 5%;
            margin-right: 5%;
        }
    
        #reset-link-submit, #request-verify-submit, #confirm-password-submit, #reset-password-submit
        {
            font-size: 1.75em;
            width: 50%;
    
            @media only screen and (max-width: 1300px)
            {
                width: 70%;
            }
    
            @media only screen and (max-width: 400px)
            {
                font-size: 1.25em;
                width: 60%;
            }
    
            @media only screen and (max-width: 300px)
            {
                font-size: 1em;
            }
        }
    }

    @media only screen and (max-width: 1000px)
    {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }

    @media only screen and (max-width: 800px)
    {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    @media only screen and (max-width: 600px)
    {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    @media only screen and (max-width: 500px)
    {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    @media only screen and (max-width: 400px)
    {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

.is-invalid
{
    background-color: $c-red;
}

.invalid-feedback
{
    color: $red;
    font-family: $body-font;
    font-size: 1.25em;
}

.alert-success
{
    color: $green;
    font-family: $body-font;
    font-size: 1.25em;
}

nav
{
    background-color: $white;
    border: $medium-border solid $white;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 1px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;

    @media only screen and (max-width: 975px)
    {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    @media only screen and (max-width: 650px)
    {
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }

    @media only screen and (max-width: 600px)
    {
        width: 90%;
        margin-left: 4%;
        margin-right: 6%;
    }
    
    ul
    {
        @extend %flex-container;

        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @media only screen and (max-width: 600px)
        {
            flex-direction: row;
            flex-wrap: wrap;
        }

        li
        {
            @extend %flex-item;

            background-color: $white;
            border: $thin-border solid $black;
            flex-grow: 1;
            margin-left: .5%;
            margin-right: .5%;
            padding-top: 1px;
            padding-bottom: 1px;

            @media only screen and (max-width: 600px)
            {
                flex: 1 25%;
                margin-top: .5%;
                padding-top: 2px;
                padding-bottom: 2px;
            }

            a
            {
                display: block;
                color: $black;
                font-family: $header-font;
                font-size: 2em;
                height: 100%;
                text-align: center;
                text-decoration: none;
                width: 100%;

                @media only screen and (max-width: 975px)
                {
                    font-size: 1.75em;
                }

                @media only screen and (max-width: 925px)
                {
                    font-size: 1.5em;
                }

                @media only screen and (max-width: 850px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (max-width: 725px)
                {
                    font-size: 1em;
                }

                @media only screen and (max-width: 650px)
                {
                    font-size: .75em;
                }

                @media only screen and (max-width: 600px)
                {
                    font-size: 1.25em;
                }
            }

            &:hover
            {
                background-color: $black;
                font-style: italic;

                a
                {
                    color: $white;
                }
            }
        }

        .highlight
        {
            background-color: $black;
            font-style: italic;
            font-weight: bold;

            a
            {
                color: $white;
            }

            &:hover
            {
                a
                {
                    text-decoration: underline;
                }
            }
        }

        li:first-of-type
        {
            border-radius: 0px 0px 0px 10px;

            @media only screen and (max-width: 600px)
            {
                border-radius: 0px 0px 0px 0px;
            }
        }

        li:nth-last-of-type(2)
        {
            @media only screen and (max-width: 600px)
            {
                border-radius: 0px 0px 0px 10px;
            }
        }

        li:last-of-type
        {
            border-radius: 0px 0px 10px 0px;
        }

        li.disabled
        {
            display: none;
        }
    }
}

.pagination-nav
{
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 1px;
    margin-left: 0%;
    margin-right: 0%;
    width: 99.5%;

    ul
    {
        li:first-of-type
        {
            border-radius: 10px 0px 0px 0px;
        }

        li:last-of-type
        {
            border-radius: 0px 10px 0px 0px;
        }
    }

    @media only screen and (max-width: 975px)
    {
        width: 99%;
    }

    @media only screen and (max-width: 800px)
    {
        width: 98.5%;
    }

    @media only screen and (max-width: 550px)
    {
        width: 98%;
    }

    @media only screen and (max-width: 450px)
    {
        width: 97.75%;
    }

    @media only screen and (max-width: 400px)
    {
        width: 97.5%;
    }
}

.post
{
    border: $thin-border solid $white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

    .category-header
    {
        border-bottom: $thin-border solid $white;
        color: $white;
        font-family: $tool-font;
        font-size: 2.5em;
        font-weight: 1000;
        line-height: 115%;
        text-align: center;

        a
        {
            color: $white;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
                font-style: italic;
            }
        }

        @media only screen and (max-width: 900px)
        {
            font-size: 2em;
        }

        @media only screen and (max-width: 700px)
        {
            font-size: 1.75em;
        }

        @media only screen and (max-width: 600px)
        {
            font-size: 1.5em;
        }
    }
    
    .img-content
    {
        display: block;
        height: 80vh;
        text-align: center;
        width: 100%;

        img
        {
            height: 100%;
            object-fit: contain;
            padding: 1%;
            width: 98%;
        }
    }

    .txt-content
    {
        display: table;
        height: auto;
        margin: 0 auto;
        padding: 2.5%;
        width: auto;

        p
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.25em;

            @media only screen and (max-width: 425px)
            {
                font-size: 1em;
            }
        }
    }

    .artist-footer
    {

    }

    @media only screen and (max-width: 700px)
    {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    @media only screen and (max-width: 500px)
    {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

.set-zip
{
    border: $thin-border solid $white;
    color: $white;
    display: inline-block;
    font-family: $body-font;
    font-size: 2.5em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
    text-align: center;
    width: 50%;

    a
    {
        @extend %links;
    }

    @media only screen and (max-width: 900px)
    {
        font-size: 1.75em;
        margin-left: 12.5%;
        margin-right: 12.5%;
        width: 75%;
    }

    @media only screen and (max-width: 700px)
    {
        font-size: 1.25em;
    }
}