// FONTS
@import url('https://fonts.googleapis.com/css?family=Aclonica|Fredericka+the+Great|Indie+Flower|Lora&display=swap');

// Variables
@import 'variables';

%flex-container
{
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

%flex-item
{
    flex-grow: 0;
    padding: 25px;
}

%base-table
{
    border: $medium-border solid $light-grey;
    border-collapse: collapse;
    color: $white;
    display: table;
    margin-bottom: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;

    tr
    {
        th
        {
            border: $thin-border solid $light-grey;
            font-family: $tool-font;
            font-size: 3em;
            text-decoration: underline;
        }

        td
        {
            border: $thin-border solid $light-grey;
        }
    }
}