// FONTS
@import url('https://fonts.googleapis.com/css?family=Aclonica|Fredericka+the+Great|Indie+Flower|Lora&display=swap');

// Variables
@import 'variables';

%flex-container
{
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

%flex-item
{
    flex-grow: 0;
    padding: 25px;
}